body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.fname, .lname, .E-mail, .Llogin, .days_extension {
  display: block;
  margin-left: 60px;
}

.days_extension {
    margin-top: 50px;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 10px;
}

.buttons {
    display: block;
    margin-left: 100px;
    margin-top: 50px;
}

.personaldata_form {
    margin-top: 50px;
}

#extlab {
    margin-left: 10px;
}

#email {
    margin-left: 22px;
}

#cancel_button {
    margin-left: 40px;
}

#extend_button, #cancel_button {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #68DAEC;
    border: 2px solid #68DAEC;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 2px gray;
}

#extend_button:hover, #cancel_button:hover {
    background-color: #0698AF;

}

#extend_button:active, #cancel_button:active {
    background-color: #0698AF;
    margin-top: 2px;
    margin-bottom: -2px;
    box-shadow: none;
}